<!--

  Project made with love by Paulo Cardoso
  Github: https://paulohcardoson.github.io

-->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <!-- Scripts -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="./js/script.js"></script>

  <!-- Estilos -->
  <link rel="stylesheet" href="./css/quill.css"/>
  <link rel="stylesheet" href="./css/styles.css"/>

  <!-- Extras -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rich Text Editor App</title>
</head>
<body>
  
  <div class="container">
    <div id="editor"></div>
  </div>

</body>
</html>